#DrawingView {
  #clear-dialog {
    position: fixed !important;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.31) 0px 0px 1px, rgba(0, 0, 0, 0.18) 0px 0px 5px,
      rgba(0, 0, 0, 0.3) 0px 8px 50px;
  }
  #DrawingMove {
    height: 32px;
  }
  #canvas {
    display: block;
    background-color: #fff;
  }
  #toolbox-open {
    cursor: pointer;
    position: fixed;
    left: 3vw;
    top: calc(12vh - 32px);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 120px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.31) 0px 0px 1px, rgba(0, 0, 0, 0.18) 0px 0px 5px,
      rgba(0, 0, 0, 0.3) 0px 8px 50px;
  }

  #toolbox {
    position: fixed;
    padding: 10px 0;
    left: 3vw;
    top: 12vh;
    width: 120px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.31) 0px 0px 1px, rgba(0, 0, 0, 0.18) 0px 5px 5px,
      rgba(0, 0, 0, 0.3) 0px 25px 50px;

    .tools,
    .options {
      .icon-font {
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          border-radius: 4px;
          background-color: rgba(0, 0, 0, 0.31);
        }
        &:active {
          border-radius: 4px;
          border: 2px solid deepskyblue;
        }
        &.active {
          border-radius: 4px;
          border: 2px solid deepskyblue;
        }
      }
    }
    .tools {
      padding: 10px 0 0;
      display: flex;
      width: 100%;
      .icon-font {
        margin: auto;
        padding: 10px;
      }
    }
    .options {
      width: 100%;
      .canvas_save {
        margin-left: 10px;
        margin-top: 10px;
        border-right: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
      }
      .canvas_clear {
        margin-right: 10px;
        margin-top: 10px;
        border-bottom: 1px solid #e6e6e6;
      }
      .turn_left_flat {
        margin-left: 10px;
        margin-bottom: 10px;
        border-right: 1px solid #e6e6e6;
      }
      .turn_right_flat {
        margin-right: 10px;
        margin-bottom: 10px;
      }
      .icon-font {
        padding: 5px;
        width: 50px;
      }
    }

    .colors {
      li {
        display: inline-block;
        width: 24px;
        height: 24px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
        margin: 10px;
        border-radius: 50%;
        transition: all 0.3s;
        cursor: pointer;
        &.black {
          background: black;
        }
        &.red {
          background: red;
        }
        &.green {
          background: green;
        }
        &.blue {
          background: blue;
        }
        &.active {
          transform: scale(1.2);
          box-shadow: 0 0 3px rgba(0, 0, 0, 1);
        }
      }
      #currentColor {
        display: inline-block;
        height: 40px;
        width: 40px;
        padding: 4px;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
        font-size: 0;
        position: relative;
        cursor: pointer;
      }
    }

    .sizes {
      margin: 10px;
      width: 100px;
      padding-bottom: 10px;
      border-top: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;
      #range {
        width: 100%;
        transform-origin: 75px 75px;
        cursor: pointer;
        -webkit-appearance: none; /*去除默认样式*/
        height: 4px;
        border: none;
        &::-webkit-slider-thumb {
          -webkit-appearance: none; /*去除默认样式*/
          cursor: default;
          top: 0;
          height: 20px;
          width: 20px;
          transform: translateY(0px);
          background: #fff;
          border-radius: 15px;
          border: 5px solid deepskyblue;
        }
      }
    }
  }

  .toolbox-enter {
    opacity: 0;
    &-active {
      opacity: 1;
      transition: opacity 1200ms;
    }
    &-done {
      opacity: 1;
    }
  }
  .toolbox-exit {
    opacity: 1;
    &-active {
      opacity: 0;
      transition: opacity 1200ms;
    }
    &-done {
      opacity: 0;
    }
  }
}
