#DrawingView {
  #DrawingMove {
    height: 32px;
  }
  #canvas {
    display: block;
    background-color: #fff;
  }
  #toolboxShow {
    position: fixed;
    left: 3vw;
    top: calc(12vh - 32px);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 120px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.31) 0px 0px 1px, rgba(0, 0, 0, 0.18) 0px 0px 5px,
      rgba(0, 0, 0, 0.3) 0px 8px 50px;
  }
  #toolbox {
    position: fixed;
    left: 3vw;
    top: 12vh;
    width: 120px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.31) 0px 0px 1px, rgba(0, 0, 0, 0.18) 0px 5px 5px,
      rgba(0, 0, 0, 0.3) 0px 25px 50px;
    .tools {
      padding-top: 20px;
      display: flex;
      width: 100%;
    }
    .colors {
      text-align: center;
      li {
        display: inline-block;
        width: 24px;
        height: 24px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
        margin: 10px;
        border-radius: 50%;
        transition: all 0.3s;
        cursor: pointer;
        &.black {
          background: black;
        }
        &.red {
          background: red;
        }
        &.green {
          background: green;
        }
        &.blue {
          background: blue;
        }
        &.active {
          transform: scale(1.2);
          box-shadow: 0 0 3px rgba(0, 0, 0, 1);
        }
      }
      #currentColor {
        display: inline-block;
        height: 40px;
        width: 40px;
        padding: 4px;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
        font-size: 0;
        position: relative;
        cursor: pointer;
      }
    }
    .sizes {
      margin: 20px 10px;
      width: 100px;
      border-top: 1px solid #e6e6e6;
      #range {
        width: 100%;
        transform-origin: 75px 75px;
        cursor: pointer;
        -webkit-appearance: none; /*去除默认样式*/
        background-color: #ebeff4;
        height: 4px;
        border: none;
        &::-webkit-slider-thumb {
          -webkit-appearance: none; /*去除默认样式*/
          cursor: default;
          top: 0;
          height: 20px;
          width: 20px;
          transform: translateY(0px);
          background: #fff;
          border-radius: 15px;
          border: 5px solid deepskyblue;
        }
      }
    }
  }
}
