#SettingView {
  #SettingMove {
    height: 48px;
  }

  .mainSet {
    display: flex;

    .leftSet {
      width: 172px;
      background-color: #f0f0f0;
      border-bottom-left-radius: 5px;

      div {
        overflow: inherit !important;

        ul {
          li {
            margin: 0 !important;
          }
        }
      }
    }

    .rightSet {
      flex-direction: column;
      width: 512px;
      height: 420px;
      padding: 30px 60px;
      overflow: auto;
      background-color: #fff;
      border-bottom-right-radius: 5px;

      .divide {
        width: 100%;
        margin-bottom: 10px;
        border-top: 1px solid #f0f0f0;
      }

      .options {
        label {
          font-weight: bold;
          line-height: 16px;
        }

        input[type="range"] {
          width: 256px;
          margin: 0 30px 20px 0;
          -webkit-appearance: none;

          &:focus {
            outline: none;
          }

          &::-webkit-slider-runnable-track {
            height: 4px;
            background-color: #d9d9d9;
          }

          &::-webkit-slider-thumb {
            position: relative;
            width: 18px;
            height: 18px;
            margin-top: -8px; /* 使滑块超出轨道部分的偏移量相等 */
            background: #fff;
            border: 0.6px solid #d9d9d9;
            border-radius: 3px;
            -webkit-appearance: none;
          }
        }
      }
    }
  }
}
