#modal-root {
  .SettingView {
    display: flex;
    .leftSet {
      .TitleBar {
        display: flex;
        flex-direction: column;
        border-top-right-radius: 0 !important;
        border-bottom-left-radius: 5px;
        padding: 11px 0 !important;
        align-items: start !important;
        border-right: 0.6px solid black;
        & > div {
          padding-left: 10px;
        }
        .ListView {
          div {
            overflow: inherit !important;
            ul {
              li {
                margin: 0 !important;
              }
            }
          }
        }
      }
    }
    .rightSet {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      display: flex;
      flex-direction: column;
      padding: 30px 60px;
      width: 480px;
      height: 460px;
      background-color: #ffffff;
      .divide {
        width: 100%;
        border: 0.5px solid #bfbfbf;
        margin-bottom: 10px;
      }
    }
  }
}
