.App {
  min-width: 1500px;
  background: url(../assets/image/sierra-4K.jpg) center/100% no-repeat;
  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}
