.App {
  position: relative;
  height: 100vh;
  background: url(../assets/image/sierra-4K.jpg) center/cover no-repeat;
  .AppFinder {
    transition: all 0.2s ease-in;
    position: absolute;
    width: 100%;
    top: 0;
    height: 0.1rem;
    &:hover {
      height: 2rem;
      background-color: rgba(222, 223, 227, 0.6);
      box-shadow: rgba(0, 0, 0, 0.31) 0px 0px 1px,
        rgba(0, 0, 0, 0.18) 0px 0px 5px, rgba(0, 0, 0, 0.3) 0px 8px 50px;
    }
  }
  .AppMain {
    display: grid;
  }
  .AppDocker {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
  }
  .DockBackground {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    height: 5.5rem;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    background-color: rgba(222, 223, 227, 0.7);
    box-shadow: rgba(0, 0, 0, 0.31) 0px 0px 1px, rgba(0, 0, 0, 0.18) 0px 0px 5px,
      rgba(0, 0, 0, 0.3) 0px 8px 50px;
  }
}
