* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    Helvetica,
    Arial,
    'Hiragino Sans GB',
    'Heiti SC',
    'Microsoft YaHei',
    'WenQuanYi Micro Hei',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  background: white;

  .pointer {
    cursor: pointer !important;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: black;
  }
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}
