#CalculatorView {
  width: 410px;
  font-size: 2em;

  #calculatorMove {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 32px;
    background-color: rgba($color: #434243, $alpha: 0.8);
  }

  .calculator-wrapper {
    background-color: rgba($color: #434243, $alpha: 0.8);
    height: 528px;

    .output-wrapper {
      width: 100%;
      height: 19%;
      position: relative;

      .output {
        color: #fff;
        position: absolute;
        right: 0.6em;
        bottom: 0;

        span {
          font-size: 2em;
          max-width: 100%;
        }
      }
    }

    .row {
      text-align: center;
      height: 81%;

      .button {
        font-size: 1em;
        border: 1px solid gray;
        background-color: #dcdbdc;
        height: 20%;
        width: 25%;

        &.dark {
          background-color: #d1d0d1;
        }

        &.orange {
          color: #fff;
          background-color: #ee8739;
        }
      }

      .text-0 {
        border-bottom-left-radius: 5px;
        width: 50%;
        padding: 0 24.5% 0 0.5%;
      }

      :last-child {
        border-bottom-right-radius: 5px;
      }
    }
  }
}
