#CalculatorView {
  width: 410px;
  font-size: 2em;

  #calculatorMove {
    height: 32px;
    background-color: rgba($color: #434243, $alpha: 0.8);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .calculator-wrapper {
    height: 528px;
    background-color: rgba($color: #434243, $alpha: 0.8);

    .output-wrapper {
      position: relative;
      width: 100%;
      height: 19%;

      .output {
        position: absolute;
        right: 0.6em;
        bottom: 0;
        color: #fff;

        span {
          max-width: 100%;
          font-size: 2em;
        }
      }
    }

    .row {
      height: 81%;
      text-align: center;

      .button {
        width: 25%;
        height: 20%;
        font-size: 1em;
        background-color: #dcdbdc;
        border: 1px solid gray;

        &.dark {
          background-color: #d1d0d1;
        }

        &.orange {
          color: #fff;
          background-color: #ee8739;
        }
      }

      .text-0 {
        width: 50%;
        padding: 0 24.5% 0 0.5%;
        border-bottom-left-radius: 5px;
      }

      :last-child {
        border-bottom-right-radius: 5px;
      }
    }
  }
}
