.App-Dock {
  transition: all 0.2s ease-out;
  height: 1rem;
  background-color: rgba(222, 223, 227, 0.6);
  height: 5rem;
  box-shadow: rgba(0, 0, 0, 0.31) 0px 0px 1px, rgba(0, 0, 0, 0.18) 0px 0px 5px,
    rgba(0, 0, 0, 0.3) 0px 8px 50px;

  li {
    margin: 0;
    display: inline-block;
    padding: 0 5px;
    position: relative;
    top: 0;
    img {
      width: 5rem;
      height: 5rem;
    }
    &:hover {
      transform: scale(1.8);
      transform-origin: center center;
      margin: 10px;
      margin-top: -15px;
      position: relative;
    }
  }
}
