.AppDock {
  transition: all 0.2s ease-out;
  background-color: rgba(222, 223, 227, 0.6);
  height: 5rem;
  box-shadow: rgba(0, 0, 0, 0.31) 0px 0px 1px, rgba(0, 0, 0, 0.18) 0px 0px 5px,
    rgba(0, 0, 0, 0.3) 0px 8px 50px;

  img {
    width: 5rem;
    height: 5rem;
  }
}
