.AppFinder {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 2rem;
  padding: 0 28px;
  background-color: rgba(222, 223, 227, 0.6);
  box-shadow:
    rgba(0, 0, 0, 0.31) 0 0 1px,
    rgba(0, 0, 0, 0.18) 0 0 5px,
    rgba(0, 0, 0, 0.3) 0 8px 50px;

  .FinderLeft,
  .FinderRight {
    display: flex;
    align-items: center;
    justify-content: center;

    div,
    a {
      padding-right: 24px;
      font-family: 'PingFang SC', serif;
      font-size: 18px;
      font-weight: bold;
      color: #000;
      cursor: default;
    }

    div {
      position: relative;

      input {
        width: 100px;
        height: 30px;
        border-radius: 3px;
      }

      .text {
        padding: 3px 6px;

        &.active {
          color: #fff;
          background-color: #3970ea;
        }
      }

      .menu {
        display: none;
        width: 300px;
        background-color: rgba(230, 230, 230, 1);
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        box-shadow:
          rgba(0, 0, 0, 0.31) 0 0 1px,
          rgba(0, 0, 0, 0.18) 0 0 5px,
          rgba(0, 0, 0, 0.3) 0 8px 50px;

        &.active {
          position: absolute;
          top: 30px;
          display: block;
        }

        .line {
          width: 100%;
          height: 2px;
          background-color: #d9d9d9;
        }

        li {
          padding: 0 28px;
          margin: 6px 0;
          line-height: 30px;

          &:hover {
            color: #fff;
            background-color: #4493fe;
          }
        }
      }
    }
  }

  .FinderRight {
    a {
      cursor: pointer;
    }
  }
}
