.AppFinder {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 28px;
  padding: 0 20px;
  background-color: rgba(200, 200, 221, 0.9);
  box-shadow: rgba(0, 0, 0, 0.31) 0 0 1px, rgba(0, 0, 0, 0.18) 0 0 5px, rgba(0, 0, 0, 0.3) 0 8px 50px;

  .FinderLeft,
  .FinderRight {
    display: flex;
    align-items: center;
    justify-content: center;

    div,
    a {
      padding-right: 20px;
      font-family: "PingFang SC", serif;
      font-size: 14px;
      color: #000;
      cursor: default;
    }

    div {
      position: relative;

      input {
        width: 100px;
        height: 30px;
        border-radius: 3px;
      }

      .text {
        padding: 4px 10px;
        border-radius: 4px;

        &:hover {
          background-color: rgba(155, 161, 177, 0.6);
        }
      }

      .menu {
        display: none;
        width: 222px;
        padding: 3px;
        background-color: rgba(60, 60, 60, 0.8);
        border: 1px solid #7a697a;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.31) 0 0 1px, rgba(0, 0, 0, 0.18) 0 0 5px, rgba(0, 0, 0, 0.3) 0 8px 50px;

        &.active {
          position: absolute;
          top: 28px;
          display: block;
        }

        .line {
          width: calc(100% - 26px);
          height: 0.5px;
          margin-left: 13px;
          background-color: #7a697a;
        }

        li {
          padding: 0 10px;
          margin: 3px 2px;
          line-height: 24px;
          color: #fff;

          &:hover {
            background-color: #3163c6;
            border-radius: 4px;
          }
        }
      }
    }
  }

  .FinderRight {
    a {
      cursor: pointer;
    }

    div {
      padding-right: 0;
    }
  }
}
